---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<h1>Astro</h1>
	<div class="TEXT">
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
		<h2>Hocu blog SVOJ</h2>
	</div>
	
</Layout>
<style>
.TEXT{
	color: #fff;
}
</style>
